.wave-text {
  display: inline-block;
  color: #16a34a;
}

.wave-text span {
  display: inline-block;
  animation: bounceInDown 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
  opacity: 0;
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }
  75% {
    transform: translate3d(0, -10px, 0);
  }
  90% {
    transform: translate3d(0, 5px, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

